# macOS
.DS_Store

# Logs
*.log
logs/

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/
dependency-reduced-pom.xml

# Java
*.class

# Spring Boot
HELP.md

# Env / secrets
.env
application-local.yml

# VS Code
.vscode/

